{% extends "baseBS.html" %}
{% block content %}
<h1>Edit book: {{ book.title }}</h1>
<form method="POST" action="{{ url_for('save_book') }}">
    {{ form.hidden_tag () }}
    <h1>Edit book: {{ book.title }}</h1>
    <div class = 
        {% if form.title.errors %}
        "form-group has-error"
        {% else %}
        "form-group"
        {% endif %}
        >
        {{ form.title.label }} {{ form.title(size=50,
        class_="form-control") }}
        {{ form.price.label }} {{ form.price(size=50,
            class_="form-control") }}
        {{ form.url.label }} {{ form.url(size=50,
            class_="form-control") }}
        {{ form.img.label }} {{ form.img(size=50,
            class_="form-control") }}
        {{ form.author_id.label }} {{ form.author_id(size=50,
            class_="form-control") }}
    </div >
    {% if form.title.errors %}
    <ul class="list-group">
        {% for e in form.title.errors %}
        <li class="list-group-item list-group-item-danger" >{{ e }}</li>
        {% endfor %}
    </ul >
    {% endif %}
    <input class="btn btn-default" type="submit" value=" Enregistrer ">
</form>
{% endblock %}